In [8]:
import pandas as pd
data = {'字串':['台北','台中'],
        '整數':[1000,3000],
        '浮點數:':[3.258,7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數   浮點數:
0  台北  1000  3.258
1  台中  3000  7.396

In [12]:
#視覺美化
#pip install jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [10]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [14]:
import numpy as np
data = np.random.rand(10,2) * 5
df =pd.DataFrame(data,
                 index = pd.date_range(start='2023-09-01',periods=10),
                 columns=['台北','台中']
                 )
df

                  台北        台中
2023-09-01  2.328191  0.432847
2023-09-02  1.115199  3.799697
2023-09-03  1.438089  1.765638
2023-09-04  0.143995  3.353362
2023-09-05  1.844260  2.611730
2023-09-06  4.578932  0.273740
2023-09-07  4.151582  1.370381
2023-09-08  0.742555  3.078468
2023-09-09  1.390781  1.457398
2023-09-10  4.790661  0.126611

In [21]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return '溫暖'
    elif v < 2.75:
        return '潮濕'
    else:
        return '日照'
    
df.style\
.format(feel_condition)\
.set_caption('體感溫度')\
.background_gradient(cmap='PuBuGn',vmin=1,vmax=5,axis=None)

In [19]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [22]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1)

In [23]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;')

          A         B         C         D
0  1.040490  0.426858  0.238179  0.725531
1 -1.576652 -2.294391  1.908182  0.829297
2 -1.511680 -0.407023  0.915340 -1.480994
3  0.313485 -0.570866 -1.157715 -0.439938
4 -0.131699  2.119296  0.910829  0.109545
5  1.165492  0.253039  1.388066 -1.020834
6  0.414394  1.819455  2.247995 -0.498589
7  0.028678  0.743817  0.012490 -0.772977
8 -0.746346 -0.135327 -1.120417 -0.123348
9 -0.094509  0.645764  0.767077  0.222474